.admins {
    width: 100%;
    background: #1d1d1d;
    padding: 1.5rem 2rem 2rem 2rem;
    border-radius: 12px;

    .admins-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            margin-bottom: 1rem;
            font-size: 1.6rem;
            border-bottom: 2px solid #ce4a4a;
            padding-bottom: 0.3rem;
        }
    }
}