.games {
    width: 100%;
    background: #1d1d1d;
    padding: 1.5rem 2rem 2rem 2rem;
    border-radius: 12px;

    .games-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            margin-bottom: 1rem;
            font-size: 1.6rem;
            border-bottom: 2px solid #ce4a4a;
            padding-bottom: 0.3rem;
        }
    }

    .games-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 1rem;
        padding: 0;

        > li {
            list-style: none;
            background-color: #2a2a2a;
            border-radius: 8px;
            padding: 1rem;
            transition: 0.25s ease, transform 0.15s;

            &:hover {
                cursor: pointer;
                background: #ce4a4a;
                transform: translateY(-2px);
            }

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow: auto;
            max-height: 8rem;

            .scroll-box {
                max-height: 100%;
                max-width: 100%;
                overflow-y: auto;
            }

            .game-name {
                font-size: 1.1rem;
                text-align: center;
                overflow-wrap: anywhere;
            }
        }
    }
}